go 1.22.1

use (
	./Chapter03/audiofile
	./Chapter04/audiofile
	./Chapter04a
	./Chapter04b
	./Chapter05/application
	./Chapter06/audiofile
	./Chapter06a
	./Chapter07/audiofile
	./Chapter07a
	./Chapter08/audiofile
	./Chapter08a
	./Chapter09/audiofile
	./Chapter09a
    ./Chapter10/audiofile
)
